do_token = "digital ocean token"

region = "sfo3"

# These are the SSH Key Fingerprint's. You can get these by logging into your digital ocean account
# and navigating to Settings -> Security.
ssh_keys = [
    "fingerprint-1",
    "fingerprint-2"
  ]

##
# VM SSH Connection Information
# Generate SSH credentials for terraform
# `ssh-keygen -q -C "${USER}@cstacks-terraform" -t ed25519 -N '' -f ~/.ssh/cstacks-terraform <<<y >/dev/null 2>&1 && cat ~/.ssh/cstacks-terraform && cat ~/.ssh/cstacks-terraform.pub`
ssh_connection_priv_key_path = "~/.ssh/cstacks-terraform"

##
# Network
droplet_vpc_name = "cs-west01"
droplet_vpc_net = "10.0.0.0/24"

# NS2 in secondary region
ns2_vpc_name = "cs-east01"
ns2_vpc_net = "10.1.0.0/24"

##
# Servers

# Controller
plan_controller = "c-4"
controller_enable_backups = true

# Node
plan_node = "g-4vcpu-16gb"
node_enable_backups = true

# Backup Server
plan_backup = "s-1vcpu-1gb"
backup_enable_backups = true
backup_volume_size = 100 # GB

# Metrics
metrics_enable_backups = true
plan_metrics = "c-2"

# Registry
registry_enable_backups = true
plan_registry = "s-2vcpu-4gb"

# Nameservers
plan_nameserver = "s-1vcpu-1gb"
nameserver_enable_backups = true
region_nstwo = "nyc3" # Where the second nameserver will be placed

##
# ComputeStacks
cs_currency = "USD"

# The region name used by ComputeStacks. Not the DigitalOcean region!
# Should be lower case, without spaces, and only '-' and '_' characters
region_name = "digitalocean"

##
# Domains
zone_name = "example.org"

# Each container will receive a unique subdomain from this domain by default.
# We also need to tell CS what the zone file is in order to provision wildcard SSL for the load balancer.
cs_app_url = "a" # ${cs_app_url}.${zone_name}

# The domain for the controller
cs_portal_domain = "controller" # ${cs_portal_domain}.${zone_name}

# domain for the builtin container registry
cs_registry_domain = "cr" # ${cs_registry_domain}.${zone_name}

# Internal URL for metrics.
# We ask for a domain so that we may generate a LetsEncrypt certificate for it
cs_metrics_domain = "metrics" # ${cs_metrics_domain}.${zone_name}

primary_nameserver_zone = "example.org"
primary_nameserver_domain = "ns1"

secondary_nameserver_zone = "example.net"
secondary_nameserver_domain = "ns2"


##
# DO Project Settings
# You will need to create this project in the DO UI before proceeding!!!
do_project_name = "ComputeStacks"
do_project_description = "ComputeStacks Deployment"
do_project_env = "Production" # Development, Staging, Production

##
# CS User
cs_admin_email = "admin@cstacks.local"

##
# Cloudflare (Optional)
# cloudflare_api_token = ""
# cloudflare_account_id = ""
